/* global.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #E5E5E5;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
}

header nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
}

.hero {
  display: flex;
    justify-content: space-between;
    align-items: first baseline; 
    padding: 100px 20px;
}
.hero-content {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Take full width */
}

.text-content {
  align-content: center;
  max-width: 100%; /* Limit text width */
}

.hero-item {
  max-width: 500px; /* Optional: limit image width */
}


.section {
  padding: 60px 20px;
}

.section-title {
  text-align: center;
  margin-bottom: 2rem;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

footer {
  padding: 20px;
  background-color: #333;
  color: #fff;
  text-align: center;
}

footer a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}
